.center_screen {
    /*applied to component to make it centered on the screen*/
    position: absolute;
    left: 50%;
    top: 20%;
    text-align: center;
    width: 500px;
    transform: translate(-50%);

}

.center_thing {
    /*applied to center component within component*/
    position: relative;
    left: 50%;
    text-align: center;
    width: 300px;
    transform: translate(-50%);
}

.search { 
  /*style for searchbutton*/
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  border-radius: 50%;
  width:5em;
  height:5em;
}

.search:hover {
    background: #0b7dda;
}

a.logo:link, a.logo:visited, a.logo:link:active, a.logo:visited:active {
    /*make logo not have underline and not stay purple after being clicked*/
    color: black;
    text-decoration: none;
    background-color: none;
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

a.logo:hover {
    color: blue;
}

.card {
    height:50px;
    padding-top: 5%;
}

.card-body{
    padding-top: 50%;
    height: 100px;
}

#citycard {
    height:100px;
}